<h2>{{ campaign.question }}</h2>
<p>
  <i>Start: {{ campaign.start_time| date }} - End: {{ campaign.end_time| date }}</i>
</p>
<div class="form-group">
  <div class="radio" *ngFor="let answer of campaign['answer']; let i = index">
    <div class="row">
      <div class="col-md-6"><label>{{ i+1 }}. {{ answer }}</label></div>
      <div class="col-md-6"><label>Vote: {{ voteCount[answer] }} <span *ngIf="voted['answer']==answer">(You
            voted)</span></label></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6"><a [routerLink]="['/']">Back to home</a></div>
  <div class="col-md-6"><a [routerLink]="['/result/'+campaign.question_id]">Go to result page</a></div>
</div>
