<span class="red">* Required</span>
<h2>{{ campaign.question }} <span class="red">*</span></h2>
<p>
  <i>Start: {{ campaign.start_time | date }} - End:
    {{ campaign.end_time | date }}</i>
</p>
<div *ngIf="started">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="radio" *ngFor="let answer of campaign['answer']">
        <label><input type="radio" formControlName="answer" [value]=answer required ngModel>
          {{ answer }}
        </label>
      </div>
      <div *ngIf="submitted && f.answer.errors" class="alert alert-danger">
        <div *ngIf="f.answer.errors.required">Required</div>
      </div>
    </div>
    <h2>Your Information</h2>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">HKID <span class="red">*</span></span>
        <input type="text" class="form-control" formControlName="hkid" maxlength="9" placeholder="P1234569" required
          ngModel>
      </div>
      <div *ngIf="submitted && f.hkid.errors" class="alert alert-danger">
        <div *ngIf="f.hkid.errors">Invalid HKID</div>
      </div>
      <i>(Personal data collected will be treated as strictly confidential and used only for survey purpose)</i>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
</div>
<div *ngIf="!started">Campaign not yet start!</div>
<div class="row">
  <div class="col-md-6"><a [routerLink]="['/']">Back to home</a></div>
</div>
