<div class="list-group">
  <div *ngFor="let campaign of CampaignList">
    <a *ngIf="campaign.status==0" class="list-group-item" [routerLink]="['/campaign/'+ campaign.question_id]">
      <span class="badge badge-info">Voted: {{ campaign.voted }}</span>
      <span class="badge badge-success">{{ api.dateDiffInDays('',campaign.end_time) }} Day(s) Remaining</span>
      <p><b>{{ campaign.question }}</b></p>
      <i>Start From {{ campaign.start_time| date : format : timezone }} To
        {{ campaign.end_time| date : format : timezone }}</i>
      <br>
      <small class="green">Click to start vote</small>
    </a>
    <a *ngIf="campaign.status==-1" class="list-group-item">
      <p><b>{{ campaign.question }}</b></p>
      <i>Start From {{ campaign.start_time| date : format : timezone }} To
        {{ campaign.end_time| date : format : timezone }}</i>
      <br>
      <small class="red">Not yet start</small>
    </a>
    <a *ngIf="campaign.status==1" class="list-group-item" [routerLink]="['/result/'+ campaign.question_id]">
      <span class="badge badge-info">Voted: {{ campaign.voted }}</span>
      <p><b>{{ campaign.question }}</b></p>
      <i>Ended in {{ campaign.end_time| date : format : timezone }}</i>
      <br>
      <small class="red">Voting ended</small>
      <br>
      <small class="green">Click to result page</small>
    </a>
  </div>
</div>
