.red {
  color: red;
}

.green {
  color: green;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-info {
  color: #fff;
  background-color: #17a2b8;
}

.list-group-item {
  margin-top: 5px;
}
